<% include partials/header %>
    <div class="text-center mb-4"><h1>Index page!</h1></div>
    
    <div class="container">

    <% blogs.forEach((blog)=>{%>
        <div class="card mb-4" style="width: 22rem">
            <img src="<%=blog.image%>" class="card-img-top">
            <div class="card-header">
                <h2><%=blog.title%></h2>
            </div>
            <div class="card-body">
                <p><%-blog.body%></p>
                <small><%=blog.created.toDateString()%></small> <br><br>
                <a href="/blogs/<%=blog._id%>" class="btn btn-info">Read More</a> <br><br>
                <a href="/blogs/<%=blog._id%>/edit" class="btn btn-warning">Edit</a> <br><br>
                <form action="/blogs/<%=blog._id%>?_method=DELETE" method="post">
                <button class="btn btn-danger" type="submit">Delete</button>
                </form>
            </div>
        </div>
    <%})%>

    </div>

<% include partials/footer %>